header img{
    height:140px;
    width:170px;
    float:left;
}

header{
    padding:50px;
    width:80%;
    border:3px solid black;
    margin:20px auto;
    overflow: auto;
}

header p{
    width:70%;
    float:left;
    margin:20px 20px;
    font
}